<!DOCTYPE html>
<meta charset="utf-8" />
<html>
  <head>
    <title>Edit Movie</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/favicon.ico"/>
  </head>

  <body>
    <div class="main">
      <h1>Edit Movie</h1>
       <h2>Current Movie Data:</h2> 
       <h3>Name:</h3>
       {{movie.name}}
       <h3>Movie ID:</h3>
       <p id="movie_id">{{movie.id}}</p>
       <h3>Release Date:</h3>
       {{movie.release_date}}
       <h3>Actors:</h3>
       {% for actor in movie.actors %}
       {{actor.name}}<br>
       {% endfor %}

       <h2>New Movie Data:</h2>
       <label for="name">Movie Name:</label><br>
        <input type="text" id="name" name="name" value="{{movie.name}}"><br>
        <label for ="release_date">Release Date:</label><br>
        <input type="text" id="release_date" name="release_date"
            value="{{movie.release_date}}"><br>
       <select id="actors" name="actors" multiple>
        <option value="">Please choose the starring actors</option>
        {% for actor in all %}
        <option value="{{ actor.id }}">{{ actor.name }}</option>
        {%endfor %}
        <!-- For if actor isn't currently in database -->
        <option value="other">Other</option>
    </select><br>
      <input id="submit" type="submit" value="Submit">
      <button type="button" id="return">Return to Home Page</button>  
    </div>
   </body>   
   </html>
   <script src="../static/edit_movie.js"></script>