<!DOCTYPE html>
<meta charset="utf-8" />
<html>
  <head>
    <title>Post a New Actor</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/favicon.ico"/>
  </head>

  <body>
    <div class="form-wrapper">
        <form class="form">
            <h3>List a New Actor</h3>
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="gender">Gender:</label><br>
            <input type="text" id="gender" name="gender"><br>
            <label for="age">Age:</label><br>
            <input type="number" id="age" name="age" min="1" max="100"><br>
            <label for="movies">Movies:</label>
            <p> Hold the control button and click to add multiple movies</p>
            <select id="movies" name="movies" multiple>
                <option value="">Please choose this actor's movies</option>
                {% for movie in movies %}
                <option value="{{ movie.id }}">{{ movie.name }}</option>
                {%endfor %}
                <!-- For if movie isn't currently in database -->
                <option value="other">Other</option>
            </select><br>
            <input id="submit" type="submit" value="Submit">
    </div>
    <button type="button" id="return">Return to Home Page</button>
  </body>
  </html>  
  <script src="../static/new_actor.js"></script>