<!DOCTYPE html>
<meta charset="utf-8" />
<html>
  <head>
    <title>Successful Login</title>
    <link rel="stylesheet" href="client/styles/success.css">
  </head>

  <body>
    <div class="main">
      <h1>From templates!</h1>
      <p id="demo"></p>
      <!-- <button type="button" class="collapsible">Movies</button>
      <div class="content">
        {% for d in data %}  
        <li>{{ d }}</li>  
          <button type="button">Edit</button>
          <button type="button">Delete</button>
        {% endfor %} 
      </div> -->
      <button type="button" class="collapsible">Actors</button>
      <div class="content">
        {% for d in data %}  
        <li>{{ d }}</li>  
          <button type="button">Edit</button>
          <button type="button">Delete</button>
        {% endfor %} 
      </div>
      <!-- <button type="button">Post New Movie</button> -->
      <button type="button"> Post New Actor</button>
    </div>
    </body>
    </html>    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../client/js/success.js"></script>
