<!DOCTYPE html>
<meta charset="utf-8" />
<html>
  <head>
    <title>Successful Login</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>

  <body>
    <div class="main">
      <h1>Current Database</h1>
      <p id="demo"></p>
      <button type="button" class="collapsible">Movies</button>
      <div class="content">
        {% for d in data %}  
        <button type="button" class="collapsible2">{{ d.name }}</button>
        <div class="content2">
            <h4>Release Date:</h4> 
            <p>{{d.release_date}}</p>
            <h4> Actors:</h4>
            {% for actor in d.actors %}
                <p> {{ actor}}</p>
            {% endfor %} 
      </div>
        <button type="button" class="movie-edit-button" data-id="{{ d.id }}">
            Edit</button>
        <button type="button" class="movie-delete-button" data-id="{{ d.id }}">
            Delete</button>
        {% endfor %} 
      </div>
      <button type="button" class="collapsible">Actors</button>
      <div class="content">
        {% for a in actors %}  
            <button type="button" class="collapsible2">{{ a.name }}</button>
            <div class="content2">
                <h4>Age:</h4>
                <p>{{a.age}}</p>
                <h4>Gender:</h4>
                <p>{{a.gender}}</p>
                <h4>Movies:</h4>
                {% for movie in a.movies %}
                    <p> {{ movie.name }}</p>
                {% endfor %} 
          </div> 
          <button type="button" class="actor-edit-button" data-id="{{ a.id }}">
            Edit</button>
        <button type="button" class="actor-delete-button" data-id="{{ a.id }}">
            Delete</button>
        {% endfor %} 
      </div>
      <button type="button">Post New Movie</button>
      <button type="button"> Post New Actor</button>
    </div>
    </body>
    </html>    

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="../static/success.js"></script>